@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Montserrat:wght@700&family=Playfair+Display:wght@700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #ffffff;
}
.header {
  height: 10vh;
  width: 100%;
  background-color: #0c0c0c;

  display: flex;
}
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#mainMenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #ffff;
  padding: 0 2%;
}
.searchBar {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5vw;
}
.searchBar > input {
  background-color: #fff;
  padding-left: 1%;
  width: 20vw;
}

#mainMenu > h1 {
  font-family: "Bebas Neue", cursive;
}
#navigation > ul {
  margin-right: 30%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#navigation > ul > li {
  display: inline;
}
#navigation > ul > li > a {
  font-family: "Roboto";
  font-size: 20px;
  padding: 0 40px 0 0;
  display: inline-block;
  cursor: pointer;
}
.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #0c0c0c;
}

.content {
  margin-top: 10%;
  margin-left: 10%;
  align-items: center;

  justify-content: center;
}
.cadastro {
  display: flex;
}

.title {
  font-family: "Bebas Neue", cursive;
  color: #000000;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div_dir {
  width: 20%;
}
.div_esq {
  width: 20%;
  justify-content: center;
  margin-bottom: 1%;
  margin-right: 10%;
}
.form > input {
  margin-bottom: 10%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(0.5px);
  height: 60px;
  padding: 10px;
}
.pos_title {
  margin-bottom: 2%;
}

.botao_registro {
  background-color: #000000;
  color: #ffffff;
  height: 55px;
  width: 200px;
  margin-left: 17%;
  margin-top: 1%;
}
