@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Montserrat:wght@700&family=Playfair+Display:wght@700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #000000;
}
.header {
  height: 10vh;
  width: 100%;
  background-color: #0c0c0c;

  display: flex;
}
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#mainMenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #ffff;
  padding: 0 2%;
}
.searchBar {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5vw;
}
.searchBar > input {
  background-color: #fff;
  padding-left: 1%;
  width: 20vw;
}

#mainMenu > h1 {
  font-family: "Bebas Neue", cursive;
}
#navigation > ul {
  margin-right: 30%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#navigation > ul > li {
  display: inline;
}
#navigation > ul > li > a {
  font-family: "Roboto";
  font-size: 20px;
  padding: 0 40px 0 0;
  display: inline-block;
  cursor: pointer;
}

.containerMovie {
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
#moviesList > ul > li {
  display: inline;
  cursor: pointer;
}
#moviesList > ul > li > a {
  margin-left: 2%;
  margin-top: 0;
  display: inline-block;
  cursor: pointer;
}
.containerTitle {
  width: 537;
  height: 22%;
  margin-bottom: 1%;
  margin-top: 1%;
}
.title01 {
  padding-left: 2%;
  padding-bottom: 45%;
  font-size: 36;
  font-family: "Inter", sans-serif;
  color: #ffff;
}
