@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Montserrat:wght@700&family=Playfair+Display:wght@700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #000000;
}
.header {
  height: 10vh;
  width: 100%;
  background-color: #0c0c0c;

  display: flex;
}
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#mainMenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #ffff;
  padding: 0 2%;
}
.searchBar {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5vw;
}
.searchBar > input {
  background-color: #fff;
  padding-left: 1%;
  width: 20vw;
}

#mainMenu > h1 {
  font-family: "Bebas Neue", cursive;
}
#navigation > ul {
  margin-right: 30%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#navigation > ul > li {
  display: inline;
}
#navigation > ul > li > a {
  font-family: "Roboto";
  font-size: 20px;
  padding: 0 40px 0 0;
  display: inline-block;
  cursor: pointer;
}
.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #0c0c0c;
}
.movieContainer {
  height: 100vh;
  width: 25vw;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 10vh;
}
.casting {
  margin-top: 2%;
  font-size: 30px;
  color: #fff;

  width: 15vw;
}
.profileContainer {
  width: 100%;
  height: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.mainTitle {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 26px;
}

#avatar {
  width: 100%;
  height: 100%;
  display: flex;
}
#avatar img {
  height: 90;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
}
#avatar h3 {
  margin: auto 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.movieDescription {
  height: 100vh;
  width: 50vw;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 10vh;
}
.shortInfoContainer {
  width: 100%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#shortRounded {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  width: 19%;
  height: 35%;
  background-color: #283eb4;
  border-radius: 10px;
  padding-top: 5px;
}
#shortRoundedText {
  font-size: 14px;
  color: #fff;
  font-family: "Inter", sans-serif;
  text-align: center;
}
#shortRoundedText > #trailer {
  color: #f9e006;
  cursor: pointer;
}
